.login {
  background-color: rgb(231, 255, 251);
  border-radius: 8px;
  margin: 0 auto;
  max-width: 260px;
  padding: 15px;
  width: 100%;
}

.pageLogin {
  background-color: rgb(220, 255, 168);
  height: 100vh;
  width: 100%;
}

.icon {
  margin-left: 40%;
  width: 30px;
}

.btn-login {
  margin-left: 40%;

}

